* {
  --main-blue: #5585b5;
  --sub-blue: #79c2d0;
  --light-blue: #bbe4e9;
}

.heading-background-img {
  background-image: url("https://images.unsplash.com/photo-1510070112810-d4e9a46d9e91?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80");
  height: 200px;
  width: 100vw;
  background-size: cover;
  margin-bottom: 2rem;
}

h3 {
  text-align: center;
  position: relative;
  top: 20%;
  color: white;
}

.all-projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 2rem;
}

.card {
  border: 2px solid var(--light-blue);
  background-color: aliceblue;
  border-radius: 10px;
  padding: 30px;
  height: 200px;
  width: min(200px);
  margin: 3.2rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: space-between;
  justify-content: space-between;
}

.card > .heading {
  font-weight: 700;
  font-size: 17px;
}

.card > .heading:hover {
  text-decoration: underline;
  cursor: pointer;
}

.High, .high {
  background-color: rgb(223, 64, 64);
  padding: 5px 8px;
  border-radius: 10px;
}

.Normal, .normal{
  background-color: rgb(236, 224, 48);
  padding: 5px 8px;
  border-radius: 10px;
}

.Low, .low {
  background-color: rgb(95, 189, 240);
  padding: 5px 8px;
  border-radius: 10px;
}

.search-bar {
  padding-top: 2rem;
  width: 100%;
  text-align: center;
}

.search-box {
  width:50%;
}

.search {
  margin: 0;
}

.fa-edit:hover {
  zoom:120%;
  cursor: pointer;
}
.fa-check:hover {
  zoom:120%;
  cursor: pointer;
}

.fa-check {
  position: relative;
  display: inline-block;
}

.fa-check .tooltipDelete {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 10px;
  

  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  opacity: 0;
  transition: opacity 0.3s;
}


.fa-check .tooltipDelete::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.fa-check:hover .tooltipDelete {
  visibility: visible;
  opacity: 1;
}

.fa-edit {
  position: relative;
  display: inline-block;
}

.fa-edit .tooltipEdit {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 10px;
  

  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  opacity: 0;
  transition: opacity 0.3s;
}


.fa-edit .tooltipEdit::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.fa-edit:hover .tooltipEdit {
  visibility: visible;
  opacity: 1;
}