@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');

* {
  margin: 0;
  --main-blue: #5585b5;
  --sub-blue: #79c2d0;
  --light-blue: #bbe4e9;
}

header {
  height: 70px;
}

#header-nav,
.left-header,
.right-header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0;
  gap: 5rem;
}

#header-nav {
  padding: 1rem;
}

.logo {
  font-size: 30px;
  font-family: 'Seymour One', sans-serif;
}
.logo > a {
  color: black;
  cursor: pointer;
}

.right-header {
  justify-content: flex-end;
  padding-right: 3rem;
}

.nav-section {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 2rem;
}

a {
  color: grey;
  text-decoration: none;
}

li {
  list-style-type: none;
  margin: 0;
  color: grey;
}

li:hover {
  cursor: pointer;
  color: black;
  border-bottom: 3px solid var(--main-blue);
}

#log-in {
  background-color: var(--light-blue);
  color: black;
  border: none;
}

#log-in:hover {
  background-color: var(--sub-blue);
  color: white;
}
