* {
  margin: 0;
  overflow-x: hidden;
  --main-blue: #5585b5;
  --sub-blue: #79c2d0;
  --light-blue: #bbe4e9;
}

#first-row-section {
  height: 700px;
  width: 100%;
  background-image: url('https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yMjItbWluZC0xNl8xLmpwZw.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
}

#container {
  background: white;
  display: flex;
  width: 80%;
  height: 75%;
  position: relative;
  top: 10%;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  gap: 2rem;
}

.first-row-left {
  width: 50%;
  padding-left: 5rem;
  position: relative;
}

h4 {
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.sign-up-section {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  margin-top: 5rem;
}

#sign-up {
  background-color: var(--main-blue);
  color: white;
  border: none;
  box-shadow: 0 10px 25px var(--sub-blue);
}

#sign-up:hover {
  background-color: var(--sub-blue);
  color: black;
}

.note {
  color: rgb(109, 109, 109);
  font-size: 13px;
}

.first-row-right {
  width: 50%;
}

.first-row-right > img {
  padding-right: 2rem;
  width: 80%;
  height: auto;
}

#second-row-section {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem;
  align-items: center;
}
h3 {
  font-size: 3.6rem;
  font-weight: bold;
  padding: 2rem;
  color: var(--main-blue);
}
.feature-row {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 3rem;
}

.feature-column {
  width: 280px;
  height: 450px;
  border: 5px solid var(--light-blue);
  border-radius: 5%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
  justify-content: space-around;
}

.feature-image {
  width: 100%;
  height: 200px;
}

.feature-name {
  font-size: 24px;
  font-weight: bold;
  color: var(--main-blue);
}


#third-row-section {
  background-color: var(--light-blue);
  margin: 2rem;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}